ErrorDocument 404 /index.html/
ErrorDocument 500 /index.html/
# or map them to one error document:
# ErrorDocument 404 /pages/errors/error_redirect.php
# ErrorDocument 500 /pages/errors/error_redirect.php
